[Desktop Entry]
Name=Obsidian
Exec=/opt/Obsidian/obsidian %u
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
Comment=Knowledge base on local Markdown files
MimeType=x-scheme-handler/obsidian;
Categories=Office;
